spring:
  application:
    name: inventory-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:29092}
    consumer:
      group-id: ${spring.application.name}
      auto-offset-reset: earliest
management:
  endpoints:
    web:
      exposure:
        include: health,info
server:
  port: 8082
